.input{
    font-size: 300;
    background-color: beige;
    border-radius: 10%;
}
ion-item{
    --background:'#f1f1f1';
    border-radius: 10%;
    margin-bottom: 16px;
}
.header{
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    .subTitle{
        color:gray;
        font-size: 0.9rem;
    }
    .title{
        margin-top: 10px;
        font-size: 2rem;
    }
}